@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* Estilização da Scrollbar para o Dark Mode */
.dark-scrollbar::-webkit-scrollbar {
  width: 6px; /* Bem fininha e elegante */
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Fundo transparente para não quebrar o layout */
  margin-block: 20px; /* Dá uma margem para não encostar no topo/base do modal */
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334155; /* Cor slate-700, combina com o fundo */
  border-radius: 10px; /* Bordas bem arredondadas */
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4f46e5; /* Cor indigo-600 ao passar o mouse! */
}